asgiref==3.9.1
asttokens==3.0.0
click==8.2.1
colorama==0.4.6
decorator==5.2.1
Django==5.2.4
django-autoslug==1.9.9
django-cities-light==3.10.1
django-cors-headers==4.7.0
django-extensions==4.1
django-rq==3.0.1
djangorestframework==3.16.0
executing==2.2.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
parso==0.8.4
pillow==11.3.0
progressbar2==4.5.0
prompt_toolkit==3.0.51
pure_eval==0.2.3
Pygments==2.19.2
python-dotenv==1.1.1
python-utils==3.9.1
pytz==2025.2
redis==6.2.0
rq==2.4.0
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.14.1
tzdata==2025.2
Unidecode==1.4.0
wcwidth==0.2.13
